/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@import "swiper/swiper-bundle.css";

.wp-block-rapid-slider {
  border-radius: var(--theme-corner_radius_xlarge);

  .swiper-button-next,
  .swiper-button-prev {
    height: 60px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--theme-corner_radius_button);
    transition: 0.2s ease all;
    &:after {
      font-size: 24px;
      color: white;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.4);
    }
  }

  .pagination-position {
    display: flex;
    position: absolute;
    height: 30px;
    justify-content: center;
    align-items: center;
    width: 90px;
    bottom: var(--theme-spacing-xl);
    right: var(--theme-spacing-xl);
    z-index: 100;
    .pagination-wrapper {
      width: 90px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--theme-color-background);
      border-radius: var(--theme-corner_radius_large);
      .swiper-pagination {
        position: relative;
        top: 0;
        .swiper-pagination-bullet {
          height: 10px;
          width: 10px;
        }
        .swiper-pagination-bullet-active {
          background-color: var(--theme-color-interactive);
        }
      }
    }
  }

  &.alignfull {
    border-radius: 0;
  }
}
