/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-rapid-metric {
  display: flex;
  flex-direction: column;

  .metric {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: var(--theme-spacing-micro);
  }

  .unit {
    font-size: var(--theme-font-size-l);
    color: var(--theme-color-text_secondary);
  }

  .upper-label {
    color: var(--theme-color-text_secondary);
    font-size: var(--theme-font-size-standard);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
}
