/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-rapid-ordered-list {
  counter-reset: li;
  padding: var(--theme-spacing-l);

  .item-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 40px;
    position: relative;
    margin-bottom: var(--theme-spacing-s);

    &::before {
      content: counter(li);
      counter-increment: li;
      position: absolute;
      display: flex;
      color: var(--theme-color-text_primary);
      background-color: var(--theme-color-layer_1);
      left: 0;
      height: 30px;
      width: 30px;
      justify-content: center;
      align-items: center;
      border: 1px solid var(--theme-color-layer_2);
      border-radius: var(--theme-corner_radius_xlarge);
    }
  }
}
