<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:spacer {"height":"40px"} -->
<div style="height: 40px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group">
  <!-- wp:rapid/hero {"heroText":"Page not found","descriptionText":"Try searching again or return home","eyebrowText":"Oops, this page is empty"} -->
  <!-- wp:rapid/styled-button {"url":"/","label":"Bring me back home"} /-->
  <!-- /wp:rapid/hero -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
