<!-- wp:group {"style":{"position":{"type":"sticky","top":"0px"}},"layout":{"type":"default"}} -->
<div class="wp-block-group">
  <!-- wp:template-part {"slug":"header","theme":"Rapid","tagName":"header"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"},"margin":{"top":"0px","bottom":"0px"}}},"backgroundColor":"layer_1","layout":{"type":"constrained"}} -->
<div
  class="wp-block-group has-layer-1-background-color has-background"
  style="
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: var(--wp--preset--spacing--70);
    padding-bottom: var(--wp--preset--spacing--70);
  "
>
  <!-- wp:query-title {"type":"search","level":5} /-->

  <!-- wp:search {"label":"Search","showLabel":false,"placeholder":"Search again","buttonText":"Search","buttonUseIcon":true} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}}, "layout":{"type":"constrained"}} -->
<div
  class="wp-block-group"
  style="
    padding-top: var(--wp--preset--spacing--70);
    padding-bottom: var(--wp--preset--spacing--70);
  "
>
  <!-- wp:query {"queryId":1,"query":{"perPage":10,"order":"desc","orderBy":"date","inherit":true},"metadata":{"categories":["posts"]}} -->
  <div class="wp-block-query">
    <!-- wp:post-template -->
    <!-- wp:columns {"verticalAlignment":"center","style":{"spacing":{"padding":{"right":"0","left":"0","top":"0","bottom":"0"}},"border":{"radius":"8px"}},"backgroundColor":"layer_1", "shadow":"var:preset|shadow|card"} -->
    <div
      class="wp-block-columns are-vertically-aligned-center has-layer-1-background-color has-background"
      style="
        border-radius: 8px;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
        box-shadow: var(--wp--preset--shadow--card);
      "
    >
      <!-- wp:column {"verticalAlignment":"center","width":"10%"} -->
      <div
        class="wp-block-column is-vertically-aligned-center"
        style="flex-basis: 10%"
      >
        <!-- wp:post-featured-image {"isLink":true,"sizeSlug":"large","height":"200px","width":"150px", "aspectRatio":"3/4", "style":{"border":{"radius":{"topLeft":"8px","bottomLeft":"8px"}}}} /-->
      </div>
      <!-- /wp:column -->

      <!-- wp:column {"verticalAlignment":"center","width":"90%","style":{"spacing":{"blockGap":"0","padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}}} -->
      <div
        class="wp-block-column is-vertically-aligned-center"
        style="
          padding-top: var(--wp--preset--spacing--30);
          padding-bottom: var(--wp--preset--spacing--30);
          padding-left: var(--wp--preset--spacing--50);
          padding-right: var(--wp--preset--spacing--50);
          flex-basis: 90%;
        "
      >
        <!-- wp:post-title {"level":6,"isLink":true} /-->

        <!-- wp:post-excerpt {"excerptLength":20,"moreText":"Read more","showMoreOnNewLine":true,"ellipsisText":"", "style":{"spacing":{"padding":{"top":"0","bottom":"0"}}}} /-->
      </div>
      <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->
    <!-- /wp:post-template -->

    <!-- wp:query-no-results {"align":"center"} -->
    <!-- wp:html -->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
      <rect width="42" height="42" fill="none" />
      <path
        d="M54.46,201.54c-9.2-9.2-3.1-28.53-7.78-39.85C41.82,150,24,140.5,24,128s17.82-22,22.68-33.69C51.36,83,45.26,63.66,54.46,54.46S83,51.36,94.31,46.68C106.05,41.82,115.5,24,128,24S150,41.82,161.69,46.68c11.32,4.68,30.65-1.42,39.85,7.78s3.1,28.53,7.78,39.85C214.18,106.05,232,115.5,232,128S214.18,150,209.32,161.69c-4.68,11.32,1.42,30.65-7.78,39.85s-28.53,3.1-39.85,7.78C150,214.18,140.5,232,128,232s-22-17.82-33.69-22.68C83,204.64,63.66,210.74,54.46,201.54Z"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="16"
      />
      <line
        x1="128"
        y1="80"
        x2="128"
        y2="136"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="16"
      />
      <circle cx="128" cy="172" r="12" />
    </svg>
    <!-- /wp:html -->
    <!-- wp:paragraph {"align":"center"} -->
    <p class="has-text-align-center">No results found.</p>

    <p class="has-text-align-center">
      Try again or <a href="/">return home</a>
    </p>
    <!-- /wp:paragraph -->
    <!-- /wp:query-no-results -->

    <!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"center"}} -->
    <!-- wp:query-pagination-previous /-->

    <!-- wp:query-pagination-numbers /-->

    <!-- wp:query-pagination-next /-->
    <!-- /wp:query-pagination -->
  </div>
  <!-- /wp:query -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"Rapid","tagName":"footer"} /-->
