/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-rapid-mega-menu-link {
  display: inline-flex;
  flex-direction: row;
  gap: var(--theme-spacing-xxxs);
  padding: var(--theme-spacing-micro) var(--theme-spacing-xxs);
  border-radius: var(--theme-corner_radius_regular);
  transition: 0.3s ease all;

  ion-icon {
    color: var(--theme-color-brand_primary);
    font-size: 24px;
    margin-top: 4px;
  }
  .content {
    display: flex;
    flex-direction: column;

    p {
      margin: 0;
    }

    .label {
      font-size: var(--theme-font-size-l);
    }

    .description {
      font-size: var(--theme-font-size-s);
      color: var(--theme-color-text_secondary);
    }
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}
