/* Wide alignment */

@media (min-width: 1450px) {
  .entry-content .alignwide {
    width: var(
      --wp--style--global--wide-size,
      1400px
    ); /* Use the wide size variable */
    margin-left: calc(
      (100% - var(--wp--style--global--wide-size, 1400px)) / 2
    ); /* Center align */
    margin-right: calc(
      (100% - var(--wp--style--global--wide-size, 1400px)) / 2
    ); /* Center align */
  }
}

/* Full alignment */
.entry-content .alignfull {
  width: 100vw; /* Full viewport width */
  margin-left: calc(50% - 50vw); /* Center align */
  margin-right: calc(50% - 50vw); /* Center align */
  max-width: 100vw;
}

.img-bg-position-center,
.img-bg-position-center img {
  background-position: center;
}

.img-bg-position-top,
.img-bg-position-top img {
  background-position: top;
}

.img-bg-position-bottom,
.img-bg-position-bottom img {
  background-position: bottom;
}

/* Flex helper classes */

.flex-justify-center {
  justify-content: center;
}
.flex-justify-start {
  justify-content: start;
}
.flex-justify-end {
  justify-content: end;
}

.flex-align-center {
  align-items: center;
}
.flex-align-start {
  align-items: start;
}
.flex-align-end {
  align-items: end;
}

/* Visibility helper classes */

.is-hidden {
  display: none;
}
