ul.wp-block-navigation__submenu-container.wp-block-navigation-submenu {
  box-shadow: var(--theme-shadow_card_x_position_outside)
    var(--theme-shadow_card_y_position_outside)
    var(--theme-shadow_card_blur_outside)
    var(--theme-shadow_card_spread_outside) var(--theme-color_shadow_cards);

  border-radius: var(--theme-corner_radius_regular);
  padding: var(--theme-spacing-xxs);
}
